:root {
    --purple_4: #F1EAFF;
    --purple_3: #E5D4FF;
    --purple_2: #DCBFFF;
    --purple_1: #D0A2F7;
}

html{
    height: 100%;
    width: 100%;
    font-family:  Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

body{
    background: linear-gradient(180deg, #D0A2F7 0%, #E0C4F9 64%, #FFFFFF 100%);
    overflow: hidden;
}

#NAVBAR{
    z-index: 5;
    margin: 1rem 0rem 0rem 0rem
}

#LINKS {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.link-tab{
    width: 15rem;
    height: 6.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin: 0rem 1rem;
    background: url(/client/assets/svg/tab-cloud.svg);
    background-size: cover;
}

.link-tab-active{
    width: 15rem;
    height: 6.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin: 0rem 1rem;
    background: url(/client/assets/svg/tab-cloud.svg);
    background-size: cover;

    filter: drop-shadow(0px 15px 5px rgb(0, 0, 0, 0.25));
}

.link-tab-text{
    position: relative;
    margin: 0.8rem auto;
    font-size: 2.2rem;
    color: var(--purple_1);
    font-weight: 600;
}


#CONTENT-BOX {    
    background-color: #FFFFFF50;
    position: fixed;
    inset: 0px;
    width: 65vw;
    height: 55vh;
    margin: auto;
    border-radius: 2rem;
    box-shadow: 0 20px 15px #00000030;
}