.home-header{
    color: red;
}

@keyframes bg-cloud-1 {
    0% {left: -25%;}
    100% {left: 0%;}
  }

@keyframes bg-cloud-2 {
    0% {left: 100%;}
    100% {left: 75%;}
  }

  #BG-CLOUD-1 {
    z-index: 0;
    position: absolute;
    width: 30vw;
    height: 30vh;
    left: 2%;
    top: 10%;
    filter: blur(1px);
    opacity: 75%;

    animation-name: bg-cloud-1;
    /* animation-direction: alternate; */
    animation-duration: 3s;
    /* animation-iteration-count: infinite; */
}

#BG-CLOUD-2 {
    z-index: 0;
    position: absolute;
    width: 22vw;
    height: 22vh;
    top: 55%;
    left: 75%;
    filter: blur(1px);

    animation-name: bg-cloud-2;
    /* animation-direction: alternate; */
    animation-duration: 2s;
    /* animation-iteration-count: infinite; */
  
}
