:root {
    --bg_1_dest: -25%;
    --bg_2_dest: -12%;
}

.projects-header{
    color: green;
}

@keyframes bg-cloud-1 {
    100% {right: var(--bg_1_dest);}
}

@keyframes bg-cloud-2 {
    100% {left: var(--bg_2_dest);}
}


  #BG-CLOUD-1 {
    z-index: 1;
    position: absolute;
    width: 38vw;
    height: 38vh;
    right: -5%;
    top: 35%;

    animation-name: bg-cloud-1;
    animation-duration: 1s;
}

#BG-CLOUD-2 {
    z-index: 1;
    position: absolute;
    width: 22vw;
    height: 22vh;
    top: 15%;
    left: 0%;

    animation-name: bg-cloud-2;
    animation-duration: 1s;
}
