:root {
    --bg_1_dest: -25%;
    --bg_2_dest: -12%;
}

.projects-header{
    color: green;
}

@keyframes bg-cloud-1 {
    100% {right: var(--bg_1_dest);}
}

@keyframes bg-cloud-2 {
    0% {transform: translate(0, 0);}
    100% {transform: translate(-12vw, 6vh);}
}


#BG-CLOUD-1 {
    z-index: 1;
    position: absolute;
    width: 38vw;
    height: 38vh;
    right: -5%;
    top: 35%;

    animation-name: bg-cloud-1;
    animation-duration: 1s;
}

#BG-CLOUD-2 {
    z-index: 1;
    /* position: absolute; */
    width: 22vw;
    height: 22vh;
    transform: translate(-12vw, 6vh);

    animation-name: bg-cloud-2;
    animation-duration: 1s;
}
